{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeliveryEat! Servicio de delivery</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="contenedor">
            <h1 class="icon-motorcycle"> DeliverEat!</h1>
            <input type="checkbox" id="menu-bar" >
            <label for="menu-bar" class="icon-menu"></label>
            <nav class="menu">
                <a href="">Inicio</a>
                <a href="">Mi Cuenta</a>
                <a href="">Ayuda</a>
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>