{% extends 'base.html' %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pedidoPrimerParte.css' %}">
    {% endblock %}
    {% block content %}
        <div class="contenedor-registro">
            <h2 class="realizaPedido">Realiza un pedido</h2>
            <form action="/pedido/loquesea/" class="form_pedido" method="POST">
                {% csrf_token %}
                <input type="hidden" name="nextStep" value="3">
                <h2 class="form_titulo">De lo que sea</h2>
                <div class="contenedor-inputs">
                    <h3 style="text-align: center;">Datos del comercio</h3>
                    <br>
                    <input type="text" name="calleComercio" placeholder="Calle" class="input-100" required>
                    <input type="number" name="numeroComercio" placeholder="Número" class="input-100" required>
                    <select class="browser-default custom-select" required>
                        {% for ciudad in ciudades %}
                            <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="referenciaComercio" placeholder="Referencia (opcional)" class="input-100">
                    <input value="Siguiente" type="submit" class="btn_siguientD">
                </div>
            </form>
        </div>


{% endblock %}