@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}   /* para que ningun elemento se salga de la pagina*/

body {
    font-family: 'Lato', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: rgba(255,0,0,0.9);

    position: fixed; /* para que el menu se quede pegado */
    top: 0;
    left: 0;
    z-index: 100; /* para que este siempre delante de los demas elementos */
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor{
    display: table;
}



