{% extends 'base.html' %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pedidoPrimerParte.css' %}">
    {% endblock %}
    {% block content %}
        <div style="text-align: center; width: fit-content;" class="contenedor-registro">
            <h2 class="form_titulo">¡Gracias!</h2>
            <div class="form_pedido" style="padding: 5%;;">
                <h3></h3>
                <h4>Tu pedido llegará en breve.</h4>
            </div>
        </div>


{% endblock %}