{% extends 'base.html' %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pedidoPrimerParte.css' %}">
    {% endblock %}
    {% block content %}
        <div class="contenedor-registro" style="width: fit-content;"">
            <h2 class="realizaPedido">Realiza un pedido</h2>
            <form action="/pedido/loquesea/" class="form_pedido" method="POST">
                {% csrf_token %}
                <input type="hidden" name="idPedido" value="{{ idPedido }}">
                <input type="hidden" name="nextStep" value="6">
                <h2 class="form_titulo">De lo que sea</h2>
                <div class="contenedor-inputs">
                    <table style="text-align: center; width: 100%;">
                        <tr>
                            <td>
                                <h3>Ingrese el monto con el que va a pagar</h3><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" step="1" name="montoEfectivo" placeholder="Monto" min="1" class="input-100" required>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <input value="Siguiente" type="submit" class="btn_siguientD">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>


{% endblock %}