{% extends 'base.html' %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pedidoPrimerParte.css' %}">
    {% endblock %}
    {% block content %}
        <div style="text-align: center; width: fit-content;" class="contenedor-registro">
            <h2 class="realizaPedido">Realiza un pedido</h2>
            <h2 class="form_titulo">De lo que sea</h2>
            <form onsubmit="event.preventDefault(); check();" name="form" action="/pedido/loquesea/" class="form_pedido" method="POST">
                {% csrf_token %}
                <input type="hidden" name="idPedido" value="{{ idPedido }}">
                <input type="hidden" name="nextStep" value="7">

                <div class="contenedor-inputs">
                        <table >
                            <tr>
                                <td>
                                    <h3>¿Cuándo quieres recibirlo?</h3><br>
                                </td>
                            </tr>
                            <div  class="radio_group">
                            <tr>
                                <td style="text-align: left;" >
                                    <input type="radio" onclick="fechaYHora();" id="pronto" name="recepcionPedido" value="1" required>
                                    <label for="" class="radio">Lo antes posible</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <input type="radio" onclick="fechaYHora();fechaHoraMinima();"" id="fechaHora" name="recepcionPedido" value="2">
                                    <label class="radio">Fecha y hora determinadas</label>
                                    <div id="fechaHoraInputDiv" style="display: none;">
                                        <input id="fechaInput" value="2020-05-09" max="9999-12-31" name="fechaInput" type="date">
                                        <input id="horaInput" name="horaInput" type="time" step="3600">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input value="Siguiente" type="submit" class="btn_siguientD">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <script>
            function fechaYHora(){
                if(document.getElementById("fechaHora").checked){
                    document.getElementById("fechaHoraInputDiv").style.display = 'block';
                }else{
                    document.getElementById("fechaHoraInputDiv").style.display = 'none';
                }
            }

            function fechaHoraMinima(){
                var today = new Date();

                if(today.getMonth() < 10){
                    var month = "0" + ( today.getMonth() + 1);
                }else{
                    var month = today.getMonth();
                }

                if(today.getDate() < 10){
                    var day = "0" + today.getDate();
                }else{
                    var day = today.getDate();
                }
                
                var date = today.getFullYear() + "-" + month + "-" + day

                if(today.getHours() < 10){
                    var hours = "0" + (today.getHours() + 1);
                }else{
                    var hours = (today.getHours() + 1);
                }

                /*
                if(today.getMinutes() < 10){
                    var minutes = "0" + today.getMinutes();
                }else{
                    var minutes = today.getMinutes();
                }

                if(today.getSeconds() < 10){
                    var seconds = "0" + today.getSeconds();
                }else{
                    var seconds = today.getSeconds();
                }
                */
                var time = hours + ":" + "00";
                var datetime = date + 'T' + time;
                document.form.fechaInput.min= date;
                document.form.fechaInput.value = date;
                //document.form.horaInput.min= time;
                document.form.horaInput.value= time;
            }

            function check(){
                var today = new Date();
                var fechaIngresada = new Date(document.form.fechaInput.value);
                fechaIngresada.setDate(fechaIngresada.getDate() + 1);
                var horaIngresada = Number( String(document.form.horaInput.value).substring(0,2) );

                var esHoyYHoraValida = fechaIngresada.getFullYear() == today.getFullYear() &&
                                        (fechaIngresada.getMonth()) == today.getMonth() &&
                                        (fechaIngresada.getDate()) == today.getDate() &&
                                         horaIngresada > today.getHours();

                today.setHours(0);
                today.setMinutes(0);
                today.setSeconds(0);
                fechaIngresada.setHours(0);
                fechaIngresada.setMinutes(0);
                fechaIngresada.setSeconds(0);
                

                var esDiaFuturo = fechaIngresada > today;
                if( esHoyYHoraValida || esDiaFuturo || document.form.recepcionPedido.value == "1"){
                    document.form.submit();
                }else{
                    document.form.reset();
                    fechaHoraMinima();
                    alert("Ingrese una fecha y hora válidas y vuelva a intentarlo.")
                }
            }
        </script>


{% endblock %}