{% extends 'base.html' %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pedidoPrimerParte.css' %}">
    {% endblock %}
    {% block content %}
        <div class="contenedor-registro">
            <h2 class="realizaPedido">Realiza un pedido</h2>
            <form action="/pedido/loquesea/" class="form_pedido" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="hidden" name="idPedido" value="{{ idPedido }}">
                <input type="hidden" name="nextStep" value="2">
                <h2 class="form_titulo">De lo que sea</h2>
                <div class="contenedor-inputs">
                    <input type="text" name="pedidoLoQueSea" placeholder="¿Que desea pedir?" class="input-100" required>
                    <p>Opcional: Agrega una imagen de aquello que quieres pedir</p>
                    <input class="inputImagen"  type="file" id="img" data-max-size="5242880" name="img" accept="image/*">
                    <input value="Siguiente" type="submit" class="btn_siguiente">
                </div>
            </form>
        </div>


{% endblock %}