{% extends 'base.html' %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pedidoPrimerParte.css' %}">
    {% endblock %}
    {% block content %}
    <!-- <h2 class="title">Indica la direccion del comercio</h2> -->
    <br><br>
    <div class="contenedorMaps">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" onclick="document.mapForm.coordenadas.value = '';" id="pills-form-tab" data-toggle="pill" href="#pills-form" role="tab" aria-controls="pills-home" aria-selected="true">Por Formulario</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-map-tab" onclick="document.form1.reset();" data-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-profile" aria-selected="false">Por mapa</a>
                                </li>
                            </ul>
    </div>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-form" role="tabpanel" aria-labelledby="pills-form-tab">


            <div class="contenedor-registro">

                <h2 class="realizaPedido">Realiza un pedido</h2>
                <form name="form1" action="/pedido/loquesea/" onsubmit="event.preventDefault(); completoPrimerForma();" class="form_pedido" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="idPedido" value="{{ idPedido }}">
                    <input type="hidden" name="nextStep" value="3">
                    <h2 class="form_titulo">De lo que sea</h2>
                    <div class="contenedor-inputs">
                        <h3 style="text-align: center;">Datos del comercio</h3>
                        <br>
                        <input type="text" name="calleComercio" placeholder="Calle" class="input-100">
                        <input type="number" name="numeroComercio" placeholder="Número" min="0" class="input-100">
                        <select class="browser-default custom-select" name="ciudadComercio">
                            {% for ciudad in ciudades %}
                                <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="referenciaComercio" placeholder="Referencia (opcional)" class="input-100">
                        <input value="Siguiente" type="submit" class="btn_siguientD">
                    </div>
                </form>
            </div>
            
        </div>
        <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
            <h1></h1>
            <form name="mapForm" onsubmit="event.preventDefault(); completoSegundaForma();" action="/pedido/loquesea/" class="form_pedido" method="POST">
                {% csrf_token %}
                <div id="map" style="width: 100%; height: 800px;"></div>
                
                <input type="hidden" name="coordenadas" id="map-input" value="">
                <input type="hidden" name="nextStep" value="3">
                <input type="hidden" name="idPedido" value="{{ idPedido }}">
                <input value="Siguiente" type="submit" class="btn_siguientD">
            </form>

        </div>
    </div>
    <script>
        function completoPrimerForma(){
            var primerFormaVacia = (!document.form1.calleComercio.value) || (!document.form1.numeroComercio.value) ;

            if(primerFormaVacia){
                alert("Completa la dirección del comercio o elígela en el mapa antes de continuar.");
                document.form1.reset();
                return false;
            }else{
                document.form1.submit();
                return true;
            }
        }

        function completoSegundaForma(){
            var segundaFormaVacia = !document.mapForm.coordenadas.value;

            if(segundaFormaVacia){
                alert("Completa la dirección del comercio o elígela en el mapa antes de continuar.");
                document.mapForm.reset();
                return false;
            }else{
                document.mapForm.submit();
                return true;
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC49lpoeWj5O_BCQW7PdWZZqDtnimVf8AE&callback=initMap" async defer></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}