{% extends 'base.html' %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pedidoPrimerParte.css' %}">
    {% endblock %}
    {% block content %}
        <div class="contenedor-registro" style="width: fit-content;"">
            <h2 class="realizaPedido">Realiza un pedido</h2>
            <form name="form" action="/pedido/loquesea/" class="form_pedido" method="POST">
                {% csrf_token %}
                <input type="hidden" name="idPedido" value="{{ idPedido }}">
                <input type="hidden" name="nextStep" value="6">
                <h2 class="form_titulo">De lo que sea</h2>
                <div class="contenedor-inputs">
                    <table style="text-align: center; width: 100%;">
                        <tr>
                            <td>
                                <h3>Tarjeta VISA</h3><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input style="width: 70%;" type="text" name="nombreTarjeta" placeholder="Nombre del titular" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="medioPago" value="2">
                                <input type="number" placeholder="Número de tarjeta" oninput="cardnumber(document.form.numTarjeta)" id="numTarjeta" name='numTarjeta'required/>
                                <input type="number" style="width: 20%;" max="999" maxlength="3" minlength="3" name="cvvTarjeta" placeholder="CVV" required> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="mesExpTarjeta">Fecha de expiración:</label>
                                <input style="width: fit-content;" placeholder="MM"name="mesExpTarjeta" min="1" max="12" type="number">
                                <label for="anoExpTarjeta">/</label>
                                <input style="width: fit-content;" placeholder="YY" name="anoExpTarjeta" min="00" max="99" type="number">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <input value="Siguiente" onclick="esIncorrecta(document.form.numTarjeta)"  type="submit" id="submitBtn" class="btn_siguientD">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <script>

            function cardnumber(inputtxt){
                var cardno = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
                if(inputtxt.value.match(cardno)){
                    document.getElementById('numTarjeta').style.webkitTextFillColor = "green";
                    return true;
                }else{
                    document.getElementById('numTarjeta').style.webkitTextFillColor = "red";
                    return false;
                }
            }

            function esIncorrecta(inputtxt){
                var cardno = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
                var mesMinimo = {{ mesMinimo }};
                var anoMinimo = {{ anoMinimo }};
                var fechaCorrecta = (document.form.anoExpTarjeta.value > anoMinimo) || 
                                    (document.form.anoExpTarjeta.value == anoMinimo &&
                                     document.form.mesExpTarjeta.value > mesMinimo);
                if( !inputtxt.value.match(cardno) || !fechaCorrecta ){
                    alert("Ingrese una tarjeta VISA válida");
                    document.form.reset();
                    document.form.numTarjeta.style.webkitTextFillColor = "gray";
                    return false;
                }
            }
        </script>


{% endblock %}