{% extends 'base.html' %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pedidoPrimerParte.css' %}">
    {% endblock %}
    {% block content %}
        <div style="text-align: center; width: fit-content;" class="contenedor-registro">
            <h2 class="realizaPedido">Realiza un pedido</h2>
            <h2 class="form_titulo">De lo que sea</h2>
            <form action="/pedido/loquesea/" class="form_pedido" method="POST">
                {% csrf_token %}
                <input type="hidden" name="idPedido" value="{{ idPedido }}">
                <input type="hidden" name="nextStep" value="5">
                
                <div class="contenedor-inputs">
                    <div  class="radio_group">
                        <table >
                            <tr>
                                <td>
                                    <h3>Elige un medio de pago</h3><br>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;" >
                                    <input type="radio" id="efectivo" name="medioPago" value="1">
                                    <label class="radio">Efectivo</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <input type="radio" id="tarjetaVisa" name="medioPago" value="2">
                                    <label class="radio"> Tarjeta VISA</label><label class="icon-cc-visa" style="font-size: 20px"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input value="Siguiente" type="submit" class="btn_siguientD">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>


{% endblock %}