* {
    box-sizing: border-box;
}

body{
    margin: 0;

}


h2{
    color: black;
    text-align: center;
}

.realizaPedido{
    font-size: 35px;
    text-align: center;
}

.contenedor-registro{
    width: 97%;
    max-width: 800px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.form_pedido{
    background: rgba(255,0,0,0.85);
    border-radius: 7px;
}

.form_titulo{
    background: rgba(0,0,0,0.9);
    color: white;
    padding: 20px;
    font-weight: 100;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 3px solid white;
}

.contenedor-inputs{
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


input{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid darkgray;
}

select{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid darkgray;
}

p {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.input-100{
    width: 100%;
}

.btn_siguiente{
    cursor: pointer;
    width: 100%;
}

.btn_siguiente:active{
    transform: scale(1);
}

.inputImagen{
    border: 2px;
}

.btn_siguientD{
    margin: auto;
    width: 100%;
    cursor: pointer;
}

.btn_siguienteD:active{
    transform: scale(1);
}

.browser-default{
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid darkgray;
    margin-bottom: 20px;
}

.radio{
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radio + .radio {
    margin-left: 100px;
}

.radio span{
    border-radius: 50%;
}




